.btn{
    position: absolute;
    width: 16%;
    height: 11%;
}
#logo1{
    /* background: transparent url('img/Logo_01.png') center no-repeat; */
    top: 90%;
    right: 3%;
}
#logo2{
    /* background: transparent url('img/Logo_02.png') center no-repeat; */
    top: 94%;
    right: 79%;
}


#ic-home{
    background: transparent url('img/boton_interior_home.png') center no-repeat;
    top: 252px;
    right: -10px;
}
#ic-line{
    background: transparent url('img/line.png') center no-repeat;
    top: 352px;
    right: -10px;
    height: 1%;
}
#ic-ft{
    background: transparent url('img/boton_interior_ft.png') center no-repeat;
    top: 362px;
    right: -10px;
}

.btn-tancar {
    top: 50px;
    right: 60px;
    width: 120px;
    height: 120px;
    background-size: 100%;
    background: transparent url('img/boton_close.png') center no-repeat;
}
#menu1{
    top: 84%;
    left: 18%;
    height: 8%;
    width: 12%;
    position: absolute;
}
#menu2{
    top: 84%;
    left: 32%;
    height: 8%;
    width: 12%;
    position: absolute;
}

#menu3{
    top: 86%;
    left: 47%;
    height: 8%;
    width: 8%;
    position: absolute;
}
#menu4{
    top: 84%;
    left: 54%;
    height: 8%;
    width: 15%;
    position: absolute;
}
#menu5{
    top: 84%;
    left: 70%;
    height: 7%;
    width: 12%;
    position: absolute;
}
.fletxa-endavant{
    bottom: 50%;
    right: 3.5%;
    width: 120px;
    height: 120px;
    position: fixed;
    background-image: url('img/flecha-derecha.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    z-index: 6;
}
.fletxa-endarrera{
    bottom: 50%;
    right: 91%;
    width: 120px;
    height: 120px;
    position: fixed;
    background-image: url('img/flecha-izquierda.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    z-index: 6;
}
.fletxa-endavant15{
    bottom: 0%;
    right: 4%;
    width: 120px;
    height: 120px;
    position: absolute;
    background-image: url('img/fletxa_endavant.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    z-index: 6;
}


#fletxa-next{
    top: 50%;
    left: 94%;
    width: 10%;
    height: 12%;
    position: absolute;
    background-image: url('img/flecha-derecha2.png');
    background-repeat: no-repeat;
    z-index: 6;
}
#fletxa-prev{
    top: 50%;
    left: 3%;
    width: 10%;
    height: 12%;
    position: absolute;
    background-image: url('img/flecha-izquierda2.png');
    background-repeat: no-repeat;
    z-index: 6;
}
.fletxa-endavant.wide{
    bottom: 0%;
    right: 3%;
    width: 120px;
    height: 120px;
    position: absolute;
    background-image: url('img/fletxa_endavant.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    z-index: 6;
}
.fletxa-endarrera.wide{
    bottom: 0%;
    left: 3%;
    width: 120px;
    height: 120px;
    position: absolute;
    background-image: url('img/fletxa_endarrera.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    z-index: 6;
}
.widecontent{
    top: 0%;
    left: 3.6%;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    /* padding-top: 5px; */
    /* padding-bottom: 60px; */
}
#btn-ft{
    top: 84%;
    left: 45%;
    height: 7%;
    width: 9%;
    position: absolute;
}
#home{
    position: absolute;
    top: 0%;
    left:90%;
    width: 10%;
    height: 10%;
}
.marco{
    position: absolute;
    background-color: #ffffff;
    left: 7.3%;
    top: 3.52%;
    width: 85%;
    height: 94.2%;
    border: 1px solid #30bfb0;
    border-radius: 52px;
    overflow: hidden;
    box-shadow: 10px 10px 20px rgb(61 61 61);
}