
#global {
    background: transparent url("img/bg.png") center no-repeat;
    z-index: 5;
}

/* #logo1{
    top: 93%;
    right: 5%;
} */

/* #logo1, #logo2, #logo3, #logo4, #ic-home, #ic-line, #ic-ft{
    display: none;
} */
.animar{
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
}

.pop{
    opacity: 0;
    z-index: -1;
    position: absolute;
    background-color: rgba(137,119,171,0.7);
}
.pop.active{
    opacity: 1;
    z-index: 10;
}


.pop-1{
    top: 10.7%;
    left: 0%;
    width: 100%;
    height: 75.3%;
}
.pop-2{
    top: 10.7%;
    left: 0%;
    width: 100%;
    height: 75.3%;
}
.pop-99{
    top: 10.7%;
    left: 0%;
    width: 100%;
    height: 75.3%;
}
.pop-80{
    top: 10.7%;
    left: 0%;
    width: 100%;
    height: 75.3%;
}
.pop-81{
    top: 10.7%;
    left: 0%;
    width: 100%;
    height: 75.3%;
}
.pop-82{
    top: 10.7%;
    left: 0%;
    width: 100%;
    height: 75.3%;
}
.pop-83{
    top: 10.7%;
    left: 0%;
    width: 100%;
    height: 75.3%;
}
/* .backfade{
    top: 10.5%;
    left: 0%;
    width: 100%;
    height: 75.5%;
    z-index: 5;
    background-color: blue;
    opacity: 0.3;
} */
.title{
    top: 0%;
    left: 11.6%;
    position: absolute;
    background-color: #ffffff;
}
.widecontent{
    top: 0%;
    left: 3.6%;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    /* padding-top: 5px; */
    /* padding-bottom: 60px; */
}
.widetitle{
    top: 0%;
    left: 3.6%;
    position: absolute;
    background-color: #ffffff;
    z-index: 1;
}


.content{
    top: 12.4%;
    left: 11.6%;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 60px;
   
}
.year{
    position: absolute;
    bottom: 0%;
    left: -11%;
}


/* btnpops */

#btn_pop_1{
    top: 40%;
    left: 6%;
    width: 11%;
    height: 10%;
    position: absolute;
    z-index: 6;
}
#btn_pop_2{
    top: 73%;
    left: 10%;
    width: 14%;
    height: 10%;
    position: absolute;
    z-index: 6;
}


#desp-1 img{
    width: 90%;
    height: 0;
  
}
#desp-1.active img{
  
   height: 100%;
}


#desp-1.active {

    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}


.contentline{
    margin-top: 15px;
    margin-bottom: 15px;
}
/* bot menu */


#fletxa-prev{
    display: none;
}
