
#global {
    background: transparent url("img/bg.png") center no-repeat;
    z-index: 5;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
}

/* #logo1{
    top: 93%;
    right: 5%;
} */

/* #logo1, #logo2, #logo3, #logo4, #ic-home, #ic-line, #ic-ft{
    display: none;
} */
.animar{
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}



.pop{
    opacity: 0;
    z-index: -1;
    position: absolute;
    background-color: rgba(34, 25, 156, 0.7);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    top: 0;
    left: 0%;
    width: 100%;
    height: 83%;
}

.pop.active{
    opacity: 1;
    z-index: 10;
}


/* .pop-1{
    top: 0;
    left: 0%;
    width: 100%;
    height: 82%;
}
.pop-2{
    top: 10.7%;
    left: 0%;
    width: 100%;
    height: 75.3%;
} */
.pop-99{
    top: 10.7%;
    left: 0%;
    width: 100%;
    height: 75.3%;
}
.pop-80{
    top: 10.7%;
    left: 0%;
    width: 100%;
    height: 75.3%;
}
.pop-81{
    top: 10.7%;
    left: 0%;
    width: 100%;
    height: 75.3%;
}
.pop-82{
    top: 10.7%;
    left: 0%;
    width: 100%;
    height: 75.3%;
}
.pop-83{
    top: 10.7%;
    left: 0%;
    width: 100%;
    height: 75.3%;
}
/* .backfade{
    top: 10.5%;
    left: 0%;
    width: 100%;
    height: 75.5%;
    z-index: 5;
    background-color: blue;
    opacity: 0.3;
} */
.title{
    width: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    background-color: #ffffff;
}

.widecontent{
    top: 0%;
    left: 3.6%;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    /* padding-top: 5px; */
    /* padding-bottom: 60px; */
}
.widetitle{
    top: 0%;
    left: 3.6%;
    position: absolute;
    background-color: #ffffff;
    z-index: 1;
}


.content{
    top: 17.0%;
    left: 0;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 25px;
}

.contentalto{
    top: 0%;
    /* left: 11.6%; */
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 60px;
    /* z-index: -1; */
    top: 26%;
}
.year{
    position: fixed;
    bottom: 26.4%;
    left: 3.4%;
    z-index: 11;
}

.single-content{
    margin-top: 155px !important;
}

.single-content2{
    margin-top: 100px !important;
}

.single-content3{
    margin-top: 50px !important;
}

.respuesta-completa{
    left: 85.5%;
    position: absolute;
    top: 30%;
    
}

.respuesta-completa2{
    left: 85.5%;
    position: absolute;
    top: 47.5%;
}

.respuesta-completa3{
    left: 85.5%;
    position: absolute;
    top: 26.5%;
}
.subtitle-5{
    padding: 50px;
}

.subtitle{
    padding-top: 25px;
    padding-bottom: 25px;
}

/* btnpops */

#btn_pop_1{
    /* background-color: red; */
    top: 30%;
    left: 6%;
    width: 29%;
    height: 7%;
    position: absolute;
    z-index: 6;
}
#btn_pop_2{
    top: 38%;
    left: 10%;
    width: 19%;
    height: 6.5%;
    position: absolute;
    z-index: 6;
    /* background-color: aquamarine; */
}
#btn_pop_3{
    top: 46%;
    left: 6%;
    width: 23%;
    height: 8%;
    position: absolute;
    z-index: 6;
    /* background-color: yellowgreen; */
}
#btn_pop_4{
    top: 74%;
    left: 10%;
    width: 26%;
    height: 7%;
    position: absolute;
    z-index: 6;
}
#btn_pop_5{
    top: 38%;
    left: 32%;
    width: 15%;
    height: 11%;
    position: absolute;
    z-index: 6;
}
#btn_pop_6{
    top: 73.9%;
    left: 41%;
    width: 25%;
    height: 7%;
    position: absolute;
    z-index: 6;
}
#btn_pop_7{
    top: 38%;
    left: 50%;
    width: 15%;
    height: 8%;
    position: absolute;
    z-index: 6;
}
#btn_pop_8{
    top: 37.5%;
    left: 80%;
    width: 18%;
    height: 11%;
    position: absolute;
    z-index: 6;
}
#btn_pop_9{
    top: 40.5%;
    left: 53%;
    width: 15%;
    height: 8%;
    position: absolute;
    z-index: 6;
}
#btn_pop_10{
    top: 33%;
    left: 58%;
    width: 19%;
    height: 7%;
    position: absolute;
    z-index: 6;
}
#btn_pop_11{
    top: 59%;
    left: 62%;
    width: 20%;
    height: 7%;
    position: absolute;
    z-index: 6;
}
#btn_pop_12{
    top: 41%;
    left: 75%;
    width: 15%;
    height: 8%;
    position: absolute;
    z-index: 6;
}
#btn_pop_13{
    top: 76%;
    left: 79%;
    width: 19%;
    height: 6%;
    position: absolute;
    z-index: 6;
}
#btn_pop_14{
    top: 73%;
    left: 69%;
    width: 26%;
    height: 8%;
    position: absolute;
    z-index: 6;
}
/* 
#desp-1{
    overflow: scroll;
    overflow-x: hidden;
    height: 300px;
} */

#desp-1.active{
    overflow: scroll;
    overflow-x: hidden;
    height: 310px;
}
#desp-6.active{
    overflow: scroll;
    overflow-x: hidden;
    height: 230px;
}

.btn-cont-5{
    position: absolute;
    left: 1205px;
    width: 350px;
}

.btn-cont-6{
    position: absolute;
    left: 1205px;
    width: 460px;
}

#desp-1 img{
    width: 1838px;
    height: 0px;
    opacity: 0;
} 
#desp-1.active img{
    opacity: 1;
    height: 610px;
}
#desp-2 img{
    width: 385px;
    height: 0px;
    opacity: 0;
}
#desp-2.active img{
    opacity: 1;
    height: 68px;
}
#desp-3 img{
    width: 385px;
    height: 0px;
    opacity: 0;
}
#desp-3.active img{
    opacity: 1;
    height: 68px;
}
#desp-4{
    background-color: #ffffff;
    /* height: 50px; */
}
#desp-4.active{
    background-color: #ffffff;
    height: auto;
}
#desp-4 img{
    width: 1838px;
    height: 0px;
    opacity: 0;
}
#desp-4.active img{
    opacity: 1;
    height: 293px;
}
#desp-5 img{
    width: 385px;
    height: 0px;
    opacity: 0;
}
#desp-5.active img{
    opacity: 1;
    height: 68px;
}
#desp-6 img{
    width: 1838px;
    height: 0px;
    opacity: 0;
}
#desp-6.active img{
    opacity: 1;
    height: 388px;
}
#desp-7 img{
    width: 458px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    height: 0px;
    opacity: 0;
}
#desp-7.active img{
    opacity: 1;
    height: 76px;
}
#desp-8 img{
    width: 1838px;
    height: 0px;
    opacity: 0;
}
#desp-8.active img{
    opacity: 1;
    height: 394px;
}
#desp-9 img{
    width: 458px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    height: 0px;
    opacity: 0;
}
#desp-9.active img{
    opacity: 1;
    height: 76px;
}
#desp-10 img{
    width: 1838px;
    height: 0px;
    opacity: 0;
}
#desp-10.active img{
    opacity: 1;
    height: 373px;
}
#desp-11 img{
    width: 1838px;
    height: 0px;
    opacity: 0;
}
#desp-11.active img{
    opacity: 1;
    height: 47px;
}
#desp-12 img{
    width: 1838px;
    height: 0px;
    opacity: 0;
}
#desp-12.active img{
    opacity: 1;
    height: 328px;
}
#desp-13 img{
    width: 1838px;
    height: 0px;
    opacity: 0;
}
#desp-13.active img{
    opacity: 1;
    height: 168px;
}
#desp-14 img{
    width: 1838px;
    height: 0px;
    opacity: 0;
}
#desp-14.active img{
    opacity: 1;
    height: 235px;
}
#desp-15 img{
    width: 457px;
    height: 0px;
    opacity: 0;
}
#desp-15.active img{
    opacity: 1;
    height: 104px;
}
#desp-16 img{
    width: 1294px;
    height: 0px;
    opacity: 0;
}
#desp-16.active img{
    opacity: 1;
    height: 114px;
}

/* #desp-1.active {

    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
} */
#pop-18-foot{
    position: absolute;
    top: 94%;
    left: 8.3%;
    width: 15%;
    height: 15%;
    z-index: 10;
}

.contentline{
    position: absolute;
    margin-top: 15px;
    margin-bottom: 15px;
    top: 22%;
}
.contentline-tacs{
    position: absolute;
    margin-top: 15px;
    margin-bottom: 15px;
    top: 5%;
}
/* bot menu */


#fletxa-next{
    display: none;
}
#fletxa-prev{
    display: none;
}
.tacs-1{
    left: 18% !important;
    width: 93%;
    height: 83%;
}
.tacs-1-2{
    left: 4% !important;
    width: 93%;
    height: 83%;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #b2dfda;
    border-left: 1px solid #ccc;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    background-color: #30bfb0;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
