#global {
    background: transparent url("img/bg.png") center no-repeat;
}

#content_popup1{
    background: transparent url('images/content_popup1.png') no-repeat 0 0;
    width: 1354px;
    height: 778px;
    top: 300px;
    left: 300px;
}

#popup_1{
    top: 0px;
    left: 0px;
}

/* #video1{
    width: 1024px;
    height: 1536px;
} */

/* #popup_1.active #myVideo1{
    touch-action: auto;
    z-index: 1;
    opacity: 1;
} */

/* #myVideo1{
    position: absolute;
    top: 250px;
    left: 100px;
    touch-action: none;
    z-index: -1;
    opacity: 0;
} */
#fletxa-next{
    top: 75% !important;
    left: 88% !important;
    width: 120px !important;
    height: 120px !important;
    position: fixed !important;
    background-image: url(./img/fletxa_endavant.png) !important;
    background-repeat: no-repeat !important;
    background-position-x: 50% !important;
    background-position-y: 50% !important;
    z-index: 6 !important;
}



.fondo_popup{
    background-color: black;
    opacity: 0.8;
    width: 2048px;
    height: 1536px;    
}

.btn_mas.pos-pop1 {
    left: 370px;
    bottom: 590px;
}

/* #bg-video1{
    position: absolute;
    width: 1024px;
    height: 1536px;
    left: 640px;
    top: 280px;
} */

/* #bg-video1{
    z-index: -20;
    opacity: 0;
} */

/* #bg-video1.active {
    z-index: 11;
    opacity: 1;
} */

#video1.active {
   z-index: 10;
}

.popup.active{
    z-index: 50;
    opacity: 1;
}

#fletxa-prev{
    display: none;
}
#logo1{
    display: none;
}
#logo2{
    display: none;
}
#menu1{
    display: none;
}
#menu2{
    display: none;
}
#btn-ft{
    display: none;
}
#menu4{
    display: none;
}
#menu5{
    display: none;
}
.pop{
    display: none;
}
#home{
    display: none;
}